*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Declaracion de variables de colores */
:root{
    --primary-color:#9CF6F6;
    --secondary-color:#FF7477;
}

/* class para quitar subrayado de los anchor */
.--nodecoration a{
    text-decoration: none;
    color: black;
}
/* class para hacer inline-block */
.--inlineblock{
    display: inline-block;
}
/* class para hacer inline */
.--inline{
    display: inline;
}
/* clss para centrar vertical */
.--verticalalign-middle{
    vertical-align: middle;
}

.--decoration{
    text-decoration: underline;
}
/* class width 100% */
.w100{
    width: 100%;
}
/* Title + navmenu */
#navmenu{
    margin-left: 5vh;
    width: 90%;
}
#navmenu a{
    margin: 1vh;
}

#logo__img{
    width: 5vh;
}

#title__container{
    text-align: center;
}

.title__container__h{
    margin-bottom: 2vh;
}

/* solo banner */
#banner{
    height: 29vh;
    background-image: url(../img/imagebanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -13vh;
    margin: 0vh 2vh 1vh;
}

/* section main-content */

.main-content{
    text-align: center;
    width: 98%;
    margin-left: 1%;
}

.main-content__text{
    width: 30%;
    margin-right: 10vh;
}

.main-content__text p{
    font-size: 1.2rem;
}

.main-content__img{
    margin-top: 1vh;
    width: 15%;
}

.main-content__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

footer{
    margin-top: 1vh;
}

#footer__text{
    text-align: center;
    padding-top: 3vh;
}
#createdby{
    font-size: 1.2rem;
    font-weight: bold;
}

/* colores al header, main y footer */

body{
    background-color: var(--primary-color);
}

#header__container, #footer__text{
    background-color: var(--secondary-color) ;
}

footer{
    background-color:var(--secondary-color);
    height: 8.3vh;
}
.main-content{
    background-color: var(--primary-color);
}

#title__container{
    background-color: var(--primary-color);
}

/* hover al navbar */

#navmenu a:hover{
    border-radius: .5vh;
    padding: 1vh;
    background-color: whitesmoke;
    font-weight: bold;
}

.active{
    background-color: #FFD700 ;
    border-radius: .5vh;
    padding: 1vh;
    font-weight: bold;
}

/* comunication */
.space__text{
    margin-bottom: 2vh;
}

.main-content__img2{
    margin-top: 1vh;
    text-align: center;
}

.main-content__img2 img{
    object-fit: cover;
    width: 50%;
    height: 30%;
}

.main-content--contact{
    text-align: center;
    width: 98%;
    margin-left: 1%;
}

.main-content__text--contact{
    text-align: center;
}

.main-content__text--contact p{
    font-size: 1.2rem;
}

.main-content__comunication a{
    font-weight: bold;
    font-size: 1.5rem;
    border:1px solid black;
    background-color: #B5D6D6;
    padding: 0.4vh;
    border-radius: 2vh;
}
.main-content__comunication{
    text-align: center;
}

.comunication{
    margin-left: 60vh;
}

.main-content a:hover{
    border-radius: 2vh;
    padding: 0.6vh;
    background-color: yellow;
    font-weight: bold;
}